@use "reset.css";

$md: 640px;

:root {
  // Kolory
  --color-orange-400: #ffbf69;
  --color-blue-300: #cbf3f0;
  --color-gray-800: #333333;
  --color-black: black;
  --color-white: white;
}

// Podstawowe selectory do rozszerzania
// #region utilities
%uppercase {
  text-transform: uppercase;
}

%extrabold {
  font-weight: 900;
}

%flex {
  display: flex;
}

%flex-col {
  @extend %flex;
  flex-direction: column;
}

%w-full {
  width: 100%;
}
%h-full {
  height: 100%;
}

%bg-blue-300 {
  background-color: var(--color-blue-300);
}

%bg-orange-400 {
  background-color: var(--color-orange-400);
}

%bg-white {
  background-color: var(--color-white);
}

%bg-gray-800 {
  background-color: var(--color-gray-800);
}

%text-black {
  color: var(--color-black);
}
%text-white {
  color: var(--color-white);
}
%p-x-section {
  padding-inline: 4.8125rem;
}
// %p-x-34 {
//   padding-inline: 0.125rem;
// }
// %p-x-74 {
//   padding-inline: 4.625rem;
// }
// %p-x-77 {
//   padding-inline: 4.813rem;
// }
// %m-x-34 {
//   margin-inline: 0.125rem;
// }
// %m-x-74 {
//   margin-inline: 4.625rem;
// }
// %m-x-77 {
//   margin-inline: 4.813rem;
// }

%bg-fit-nr {
  background-size: contain;
  background-repeat: no-repeat;
}
@mixin bg-image($url) {
  @extend %bg-fit-nr;

  background-image: url($url);
}
// #endregion

body {
  @extend %bg-white;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

// #region atoms
.text {
  max-width: 75ch;
}

.text--title {
  @extend %uppercase, %extrabold;

  font-size: 8.6875rem;
}

.text--section-title {
  @extend %uppercase;

  font-size: 1.5rem;
}

.text--body {
  font-size: 1rem;
  line-height: 1.46;
}

.text--body--u,
.text--body--ub {
  @extend %uppercase;
}
.text--body--b,
.text--body--ub {
  @extend %extrabold;
}

.button {
  @extend .text--body, %uppercase, %bg-blue-300;

  padding-inline: 5.4375rem;
  padding-block: 1.1875rem;
}

.button--orange {
  @extend %bg-orange-400;
}

.button--small {
  padding-inline: 2rem;
  padding-block: 0.5rem;
}
// #endregion

// #region molecules
.space-between {
  @extend %flex;

  justify-content: space-between;
  align-items: center;
}

.article {
  @extend %flex-col;

  align-items: center;
  text-align: center;

  &--left {
    align-items: flex-start;
    text-align: left;
  }

  &__title {
    margin-bottom: 1.0625rem;
  }
}
// #endregion

// #region organisms
.menu {
  @extend %flex;
  justify-content: flex-end;
  align-items: center;

  &__list {
    display: none;
  }
  @media (width >= $md) {
    &__toggle {
      display: none;
    }
    &__list {
      display: flex;
    }
  }
}

.carousel {
  @extend %w-full;

  &__container {
    @extend .space-between, %w-full;

    flex-wrap: wrap;
  }

  &__slide {
    @extend %flex-col;

    gap: 0.8125rem;
  }
}

.header {
  @extend %bg-orange-400;
  $pt: 2.125rem;

  padding: $pt 4.625rem $pt * 2/3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__list {
    width: 100%;
  }

  @media (width >= $md) {
    &__list {
      display: flex;
      gap: 1.75rem;
      &__item {
        &:first-of-type {
          margin-right: auto;
        }
      }
    }
  }
}

.section {
  @extend %p-x-section;
}

.section--hero {
  @extend %bg-orange-400, %text-white;
  @include bg-image("./assets/background 1.png");

  background-position: center right;
  padding: 10.3125rem 4.8125rem 7rem;

  text-align: left;

  &__article {
    max-width: 30rem;
  }
  &__title {
    margin-bottom: 0.4375rem;
  }

  &__button {
    margin-top: 4.5625rem;
  }
}

.section--carousel {
  @extend %bg-blue-300;

  padding-block: 5.875rem;
  display: grid;
  place-items: center;

  &__carousel {
    max-width: 58.875rem;
  }
}

.footer {
  @extend %bg-gray-800, %p-x-section;

  &__list {
    @extend .space-between;
  }
}

// #endregion

.section + .section {
  margin-top: 5.25rem;
}
